// Main colors from IGC
$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: #10385B;
$color-blue-1: #04BBF2;
$color-blue-3: #150D2B;
$color-blue-4: #1D7AD0;
$color-grey: #666666;
$color-grey-1: #E9E9E9;
$color-grey-2: #CACACA;
$color-grey-3: #D9D9D9;
